input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.white-box {
    /* background-color: #eee; */
    display: table-cell;
    background-color: #ffcfb6;
    width: 30px;
    height: 30px;
}

.black-box {
    /* background-color: #000; */
    display: table-cell;
    background-color: #e59110;
    width: 30px;
    height: 30px;
}